DATABASE_URL=postgresql://postgres:postgres@localhost:5434/limoncello_business

POSTGRES_BIND_ADDRESS=127.0.0.1
POSTGRES_PORT=5434
POSTGRES_DB=limoncello_business
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
